.feed-form {
  @extend %f-center;
  flex-direction: column;
  align-items: stretch;

  &__field {
    height: 54px;
    @extend %museo-medium-font;
    font-size: fz(xs);
    border-radius: 5px;
    padding: 0 20px;
    border: 2px solid transparent !important;
    color: clr(dark-color) !important;

    &::placeholder {
      color: clr(tundora-color);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 15px;
    }

    &.js-validate-error-field {
      border-width: 2px !important;
      border-color: clr(accent-color) !important;
      box-shadow: 0 0 8px 2px rgba(clr(accent-color), 0.8);
    }
  }

  .js-validate-error-label {
    display: none !important;
  }
}
