.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(clr(black-color), 0.65);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: clr(concrete-color);
  border-radius: 5px;
  padding: 40px 25px;

  &__title {
    line-height: 1;
    text-transform: none;
    margin-bottom: 10px;

    &.title {
      font-size: fz(lg);
    }
  }

  &__subtitle {
    @extend %block;
    font-size: fz(xs);
    line-height: 1;
    text-transform: none;
    margin-bottom: 22px;

    &.title {
      font-size: fz(xs);
    }
  }

  &__close {
    position: absolute;
    top: -10px;
    right: -45px;
    font-size: 40px;
    line-height: 1;
    color: clr(accent-color);
    cursor: pointer;
  }

  &--mini {
    min-height: auto;

    .modal__subtitle {
      line-height: 1.5;
    }
  }

  &--small-y {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: auto;
    height: 100vh;
    padding-top: 50px;

    .modal__close {
      top: 5px;
      right: 25px;
    }
  }
}

#consultation,
#order,
#success {
  display: none;
}
