@font-face {
  font-family: "Museo Moderno";
  src: url("../fonts/museosanscyrl-300.woff2") format("woff2"),
    url("../fonts/museosanscyrl-300.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Moderno";
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"),
    url("../fonts/museosanscyrl-500.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Moderno";
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"),
    url("../fonts/museosanscyrl-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
