// до 1440px
@include respond-to(xxxxl) {
  .footer__map {
    padding-bottom: 41%;
  }
}

// до 1200px
@include respond-to(xxxl) {
  .footer__contact {
    width: 420px;
    padding: 30px;
  }
  .footer__contact-addr,
  .footer__contact-tel {
    margin-bottom: 25px;
  }
}

// до 1024px
@include respond-to(xxl) {
  .footer__map {
    padding-bottom: 52%;
  }
}

// до 992px
@include respond-to(xl) {
  .advantages__list {
    justify-content: flex-start;
    row-gap: 20px;
  }
  .advantages__item {
    flex-basis: 50%;
  }
  .advantages__item-inner {
    width: 300px;
    margin-left: 0;
  }
  .advantages__item:last-child .advantages__item-inner {
    margin-right: auto;
    margin-left: 0;
  }
  .carousel__container,
  .carousel__slide {
    height: 500px;
  }
  .carousel__slide {
    width: 648px;
  }
  .catalog__content {
    max-width: 620px;
    margin: 0 auto;
  }
  .footer__contact {
    left: auto;
  }
  .footer__contact {
    width: 380px;
    padding: 10px 20px;
  }
  .footer__contact-addr,
  .footer__contact-tel {
    margin-bottom: 20px;
  }
}

// до 800px
@include respond-to(lg) {
}

// до 768px
@include respond-to(md) {
  .header__container {
    justify-content: space-between;
  }
  .header__official {
    display: none;
  }
  .hero {
    background-position-x: left;
  }
  .advantages__item-inner {
    width: 260px;
  }
  .consultations__title {
    font-size: fz(xl);
  }
  .carousel__container,
  .carousel__slide {
    height: 352px;
  }
  .carousel__slide {
    width: 456px;
  }
  .catalog__tabs {
    gap: 20px;
  }
  .catalog__tab {
    margin: 0;
  }
  .feedback__item-media {
    flex: 0 0 140px;
    height: 140px;
  }
  .footer__map {
    padding-bottom: 70%;
  }
  .footer__contact {
    width: 360px;
    top: auto;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .catalog__content {
    max-width: 300px;
  }
}

// до 576px
@include respond-to(sm) {
  .title {
    font-size: fz(xl)-2px;
  }
  .header {
    padding: 10px 0;
  }
  .header__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__contact {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .hero {
    background-position-x: -210px;
    padding-top: 116px;
  }
  .hero__container {
    justify-content: center;
  }
  .hero__content {
    align-items: center;
    text-align: center;
  }
  .hero__title {
    font-size: fz(xxl);
  }
  .hero__descr {
    font-size: fz(lg);
  }
  .hero__list-item {
    width: 100px;
  }
  .hero__list-item:not(:last-child) {
    margin-right: 15px;
  }
  .hero__list-descr {
    font-size: fz(xs)-2px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__item {
    flex-basis: 100%;
  }
  .advantages__item:first-child .advantages__item-inner {
    margin-left: auto;
  }
  .advantages__item:last-child .advantages__item-inner {
    margin-left: auto;
  }
  .advantages__item-inner {
    width: 290px;
    margin: 0 auto;
  }
  .advantages__item-media {
    margin-bottom: 20px;
  }
  .advantages__item-title {
    margin-bottom: 15px;
  }
  .carousel .container {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .carousel__container,
  .carousel__slide {
    height: 266px;
  }
  .carousel__slide {
    width: 345px;
  }
  .carousel__btn-prev,
  .carousel__btn-next {
    top: 50px;
    width: 20px;
    height: 35px;
  }
  .carousel__btn-prev {
    left: auto;
    right: 120px;
  }
  .carousel__btn-next {
    right: 40px;
  }
  .catalog {
    padding-bottom: 40px;
  }
  .catalog__title {
    margin-bottom: 20px;
  }
  .catalog__tabs {
    margin-bottom: 30px;
  }
  .card__content-title {
    font-size: fz(sm);
  }
  .feedback {
    padding-bottom: 40px;
  }
  .feedback__title {
    margin-bottom: 30px;
  }
  .feedback__item-media {
    flex: 0 0 90px;
    height: 90px;
  }
  .feedback__item-text p:not(:last-child) {
    margin-bottom: 15px;
  }
  .feedback__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer__contact {
    position: static;
    width: 100%;
  }
  .footer__contact-addr {
    font-style: normal;
    font-size: fz(sm);
    margin-bottom: 15px;
  }
  .footer__contact-item:not(:last-child) {
    margin-right: 20px;
  }
  .modal {
    padding-top: 50px;
  }
  .modal__close {
    top: 5px;
    right: 10px;
  }
}

// до 414px
@include respond-to(xs) {
  .hero__descr {
    margin-bottom: 30px;
  }
  .feedback__item {
    position: relative;
    display: block;
  }
  .feedback__item-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }
  .feedback__item-body {
    width: 100%;
    padding-left: 0;
  }
  .feedback__item-name,
  .feedback__item-descr {
    padding-left: 70px;
  }
  .feedback__item-descr {
    margin-bottom: 25px;
  }
  .modal {
    width: 290px;
  }
}

// до 375px
@include respond-to(xxs) {
  .btn--long {
    width: 290px;
  }
  .header__contact-tel {
    font-size: fz(xs);
  }
  .hero__list {
    margin-bottom: 30px;
  }
  .hero__list-item {
    width: 90px;
  }
  .hero__list-item:not(:last-child) {
    margin-right: 10px;
  }
  .consultations__form {
    width: 290px;
  }
  .carousel__container,
  .carousel__slide {
    height: 225px;
  }
  .carousel__slide {
    width: 290px;
  }
  .catalog__content {
    max-width: 290px;
  }
  .card {
    width: 290px;
  }
}
